<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @appointment.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @appointment.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @appointment.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @appointment.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @appointment.minute %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
